{% extends 'base.html' %}

{% block title %}
Edit Recipe
{% endblock %}

{% block content %}
<h4 class="note3 text-center mb-5">Please Notice: go over the maximun characters lenght will cause an internal error, 
    if this happens go back in your browser to comeback to the site. </h4>
    
<div class="row justify-content-center">
    <div class="col-lg-6">

        <div class="card">
            <div class="card-title">
                <h4>Edit Recipe</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" action="/edit-recipe?id={{ recipe['id'] }}">
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">Recipe Name</p>
                            <input name="name" type="text" placeholder="Max 50 characters" value="{{ recipe['name'] }}" class="form-control input-default" required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">Notes</p>
                            <input name="description" placeholder="Max 50 characters" type="text"  value="{{ recipe['description'] }}"  class="form-control input-default"
                                   required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">Site Url</p>
                            <input name="site_url" type="text"  value="{{ recipe['site_url'] }}" class="form-control input-default" required="required">
                        </div>
                        <button type="submit" class="btn btn-primary">create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
