{% extends 'base.html' %}

{% block title %}
History
{% endblock %}

{% block content %}

<h1 class="text-center">Find recipes in all Users History</h1>
<h4 class="note3 text-center mb-5">remember every time that a User deleted a receipe from his list it will desapear from the History,<br>
  So made sure you create your own in your list if you like any.</h4>

<div class="text-center mb-5">
    <form action="" target="_blank" method="POST">
        <input type="text" autofocus="autofocus"  name="search_string" placeholder="Find a recipe">
        <input type="submit" formaction="/search" value="Search" class="btn btn-primary">
    </form>
</div>


<div class="row justify-content-center">
    <div class="col-lg-11">
        <div class="card">
            <div class="card-title">
                <h4>History</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Notes</th>
                            <th>Meal</th>
                            <th>Date Time</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in recipes %}
                            <tr>
                                <td scope="row">{{ loop.index}}</td>
                                <td>{{ item ['name'] }}</td>
                                <td><span class="badge badge-primary">{{ item['description'] }}</span></td>
                                <td>{{ item['created_time']|meal }}</td>
                                <td>{{ item['created_time']|datetime}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}