{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="notebook form-left">
        <h2>MyReceipesNoteBook</h2>
    </div>
    <form class="form-right" method="post" action="/login">
        <h2 class="text-uppercase">login</h2>
        <div class="row">
            <div class="col-sm-12 mb-3">
                <label>Username</label>
                <input type="text" name="username" id="username" class="input-field">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mb-3">
                <label>Password</label>
                <input type="password" name="password" id="password" class="input-field">
            </div>
            <!-- <div class="col-sm-6 mb-3">
                <label>Repeat password</label>
                <input type="password" name="password2" id="password2" class="input-field">
            </div> -->
        </div>
        <div class="errorMessage">{{errorMessage}}</div>
        <div class="form-field">
            <input type="submit" value="Login" class="register" name="login">
            <a href="/register">Register Now</a>
        </div>
    </form>
</div>


{% endblock %}