{% extends 'base.html' %}

{% block title %}
Recipes list
{% endblock %}

{% block content %}

<h1 class="text-center">Need some extra inspiration ? Search in Google!</h1>

<div class="text-center mb-5">
    <form action="https://www.google.com/search" target="_blank" method="GET">
        <input type="text" name="q" placeholder="Have a look in Google">
        <input type="submit" value="Google Search" class="btn btn-primary">
    </form>
</div>


<div class="row justify-content-center">
    <div class="col-lg-6" style="margin-bottom: 50px;">
        <a href="/create-recipe" class="btn btn-primary btn-block">New Recipe</a>
    </div>
</div>


{% for recipe in recipes %}


<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-title">
                <h4>{{  recipe['name'] }}</h4>
            </div>
            <p class="text-muted">
                <h6>Notes:</h6>
                {{  recipe['description'] }}
            </p>
            <div class="button-list">
                <div class="col-m btn-group">
                    <a href="{{ recipe['site_url'] }}" class="btn btn-visit" target="_blank">Visit Site</a>
                    <a href="/edit-recipe?id={{  recipe['id'] }}" class="btn btn-primary">Edit</a>
                    <a href="/delete-recipe?id={{recipe['id'] }}" onclick="return confirm('delete?')" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}