{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="notebook form-left">
        <h2>MyReceipesNoteBook</h2>
    </div>
    <form class="form-right" method="post" action="/register">
        <h2 class="text-uppercase">Registration form</h2>
        <div class="row">
            <div class="col-sm-12 mb-3">
                <label>Username</label>
                <input type="text" name="username" id="username" class="input-field">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mb-3">
                <label>Email</label>
                <input type="text" name="email" id="email" class="input-field">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mb-3">
                <label>Password</label>
                <input type="password" name="password" id="password" class="input-field">
            </div>
            <div class="errorRegister">{{errorRegister}}</div>
        </div>
        <div class="form-field">
            <input type="submit" value="Register" class="register" name="register">
            <a href="/login">Login Now</a>
        </div>
    </form>
</div>


{% endblock %}