{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="form-left">
        <h2 class="text-uppercase">information</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et molestie ac feugiat sed. Diam volutpat commodo.
        </p>
        <p class="text">
            <span>Sub Head:</span>
            Vitae auctor eu augudsf ut. Malesuada nunc vel risus commodo viverra. Praesent elementum facilisis leo vel.
        </p>
    </div>
    <form class="form-right" method="post" action="/register">
        <h2 class="text-uppercase">Registration form</h2>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Last Name</label>
                <input type="text" name="username" id="username" class="input-field">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Password</label>
                <input type="password" name="password" id="password" class="input-field">
            </div>
            <!-- <div class="col-sm-6 mb-3">
                <label>Repeat password</label>
                <input type="password" name="password2" id="password2" class="input-field">
            </div> -->
        </div>
        <div class="form-field">
            <input type="submit" value="Register" class="register" name="register">
        </div>
    </form>
</div>


{% endblock %}