{% extends 'base.html' %}

{% block title %}
    LuckyDraw
{% endblock %}

{% block content %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;">
    <!-- <h1 class="display-4">What to eat for {{ now }}?</h1> -->
    <h1 class=" draw-text display-4">What do I cook ????</h1>
    <h3 class=" bg-light lead"> The try luck buttom will select one of the recipes from your list to help you decided what to cook today !</h3>
    <p class=" bg-light" >Note: If you dont have a list yet, it will guide you to create the very first recipe of your Amazing list  </p>
    <a href="/draw" class="btn btn-lg btn-primary">Try Luck !</a>
</div>

{% endblock %}