{% extends 'base.html' %}

{% block title %}
    Start
{% endblock %}

{% block content %}

<div>
    <h3 class="note2 mb-5">Click the <span class="font-weight-bold">What to Cook </span>buttom to see a random <span class="font-weight-bold">Recipe!</span></h3>
</div>

<div class="px-3 mb-5 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;">
    <h1 class="draw-text display-4">What do I cook????</h1>
    <a href="/draw" class="btn btn-lg btn-primary">What to Cook?</a>
</div>



{% endblock %}