{% extends 'base.html' %}

{% block title %}
    LuckyDraw
{% endblock %}

{% block content %}

<div>
    <h3 class="lead"> Click the <span class="font-weight-bold">Try luck!</span>buttom to see what can you cook today !</h3>
</div>

<div class="px-3 mt-5 mb-5 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;">
    <!-- <h1 class="display-4">What to eat for {{ now }}?</h1> -->
    <h1 class="draw-text display-4">What do I cook ????</h1>
    <a href="/draw" class="btn btn-lg btn-primary">Try Luck !</a>
</div>

<div class="note mt-5"><h4>Note: If you dont have a list yet, it will guide you to create your very first recipe from your Yummy list  </h4></div>

{% endblock %}