{% extends 'base.html' %}

{% block title %}
Top 5 
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-11">
        <div class="card">
            <div class="card-title">
                <h4>History</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Visit</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for restaurant in restaurants %}
                            <tr>
                                <td scope="row">{{ loop.index}}</td>
                                <td>{{ restaurant['name']}}</td>
                                <td><span class="badge badge-primary">{{ restaurant['description'] }}</span></td>
                                <td><a href="{{restaurant['site_url']}}"></a>Visit restaurant</td>
                                <td>{{ restaurant['draw']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}